<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_NhaThuocTay.Properties.Settings.QL_NhaThuocTayConnectionString"
            connectionString="Data Source=DESKTOP-SOF5J9B\SQLEXPRESS;Initial Catalog=QL_NhaThuocTay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>